<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Contacto</title>
    </head>
    <body style="font-family: Arial, sans-serif; padding: 2rem">
        <div style="max-width: 600px; margin: 0 auto; background: #1a8f5910; padding: 1.5rem">
            <h1 style="text-align: center; font-size: 20px; margin-top: 0; margin-bottom: 2rem">Nuevo contacto desde <b>essencedubai.com.ar</b></h1>
            <div style="display: flex; align-items: center; margin-bottom: .5rem; border-bottom: 1px solid #00000010;padding-bottom: .5rem">
                <div style="flex: 0 0 150px">Nombre:</div>
                <div style="flex: 1 1 auto">#NAME#</div>
            </div>
            <div style="display: flex; align-items: center; margin-bottom: .5rem; border-bottom: 1px solid #00000010;padding-bottom: .5rem">
                <div style="flex: 0 0 150px">Email:</div>
                <div style="flex: 1 1 auto">#EMAIL#</div>
            </div>
            <div style="display: flex; align-items: center; margin-bottom: .5rem; border-bottom: 1px solid #00000010;padding-bottom: .5rem">
                <div style="flex: 0 0 150px">Telefono:</div>
                <div style="flex: 1 1 auto">#PHONE#</div>
            </div>
            <div style="display: flex; align-items: center; margin-bottom: 3rem">
                <div style="flex: 0 0 150px">Mensaje:</div>
                <div style="flex: 1 1 auto">#MESSAGE#</div>
            </div>
            <p style="text-align: center; font-size: .9rem; color: #2a5888cc">Este es un mensaje automatico. Por favor no responda este correo.</p>
        </div>
    </body>
</html>
