<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Contacto</title>
    </head>
    <body style="font-family: Arial, sans-serif; padding: 2rem">
        <div style="max-width: 600px; margin: 0 auto; background: #1a8f5910; padding: 1.5rem">
            <h1 style="text-align: center; font-size: 20px; margin-top: 0; margin-bottom: 2rem">Nuevo pedido registrado en <b>essencedubai.com.ar</b></h1>
            <div style="text-align: center;margin-bottom: 2rem">
                <img style="max-width: 80px;width: 100%" src="https://essencedubai.com.ar/public/multimedia/icons/person.svg" alt="">
                <!-- <div style="font-weight: bold">Vendedor COD: #VENDEDOR_NAME#</div> -->
                <div style="font-weight: bold">Cliente: #CUSTOMER_NAME#</div>
            </div>
            <p style="text-align: center; font-size: .9rem; color: #2a5888cc">Este es un mensaje automatico. Por favor no responda este correo.</p>
        </div>
    </body>
</html>
